@{
    ViewBag.Title = "Home Page";
}

<!--(texto para el cliente,action,controlador,router,atributos)-->
<!--Rout=>envia la query y espera que el action la reciba-->
@Html.ActionLink("Mi About", "About", new { edad = 88 }, new { miAtributo = "ezequiel",
    @class = "btn btn-danger"
});

@Html.Display("Propiedad")<!---->
@Html.Editor("Propiedad")

@{ 
    var listado = new List<SelectListItem>()
    {
        new SelectListItem()
        {
            Text="Si",Value="1"
        },
        new SelectListItem()
        {
            Text="No",Value="2"
        },
         new SelectListItem()
        {
            Text="Tal vez",Value="3",Disabled=true
        }
    };

}
<br />
<label>Escoja una Opcion</label>
@Html.DropDownList("SeleccionDrow", listado);